{% extends 'admin_templates/base.html' %}

{% block admin_table_head_assets %}{% endblock admin_table_head_assets %}
{% block admin_table_scripts %}{% endblock admin_table_scripts %}
{% block admin_form_control_head_assets %}{% endblock admin_form_control_head_assets %}
{% block admin_form_control_scripts %}{% endblock admin_form_control_scripts %}

{% block admin_page_content %}

{% if request.user.is_superuser == True %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12">
        
        <div class="x_panel">
          <div class="x_title">
            <h2><small>Update video archive information</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">

              <p class="text-muted font-13 m-b-30">
                <code>*</code> Optional fields can be empty
              </p>

              <form action="" data-parsley-validate method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}

              <div class="col-md-6 col-sm-12  form-group">
                Location: <span class="required" style="color: #dc3545;">*</span> 
                {{ form.location }}
                {{ form.location.errors }}
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Woreda: <span class="required" style="color: #dc3545;">*</span> 
                {% with selected_woreda=form.woreda.value %}
                <select class="selectpicker form-control" name="woreda" required>
                  <option value="" {% if not selected_woreda %}selected{% endif %} disabled></option>
                  {% for woreda_name in woreda_list %}
                    <option value="{{ woreda_name }}"{% if selected_woreda == woreda_name %} selected{% endif %}>{{ woreda_name }}</option>
                  {% endfor %}
                </select>
                {% endwith %}
                {{ form.woreda.errors }}
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Date of Event: (<i>optional</i>)
                {{ form.date_of_event }}
                {{ form.date_of_event.errors }}
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Description : <span class="required" style="color: #dc3545;">*</span> 
                {{ form.description }}
                {{ form.description.errors }}
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Youtube URL: <span class="required" style="color: #dc3545;">*</span>
                {{ form.online_link }}
                {{ form.online_link.errors }}
              </div>

              
              <div class="form-group">
                <div class="col-md-11 col-sm-9  offset-md-5"><br>
                  <button type="submit" class="btn btn-success">Update</button>
                </div>
              </div>

              </form>

            </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
{% else %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <h1 class="error-number">403</h1> 
        <h2>Sorry, You don't have administrative privileges to access this page</h2>
      </div>
      </div>
      </div>
{% endif %}
{% endblock %}
