{% extends 'admin_templates/base.html' %}

{% load static %}

{% block admin_form_head_assets %}{% endblock %}
{% block admin_table_head_assets %}{% endblock %}
{% block admin_table_scripts %}{% endblock %}

{% block admin_page_content %}
{% if request.user.is_superuser == True %}

<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12">
        
        <div class="x_panel">
          <div class="x_title">
            <h2><small>Add unidentified civilian Victims</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <div class="row">

              <form action="" data-parsley-validate method="POST" enctype="multipart/form-data" id="myForm" data-admin-ajax="true">
                {% csrf_token %}

              <div class="col-md-6 col-sm-12  form-group">
                Location <span class="required" style="color: #dc3545;">*</span> 
                <input type="text" class="form-control" name="location" required>
              </div>

              <div class="col-md-6 col-sm-12 form-group">
                  Number of Civilian Victims <span class="required" style="color: #dc3545;">*</span> 
                  <input type="number" class="form-control" name="number_of_civilian" required>
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Atrocity <span class="required" style="color: #dc3545;">*</span>  
                <select class="form-control" name="perpetrator" required>
                  <option selected="" disabled=""></option>
                  <option value="Died from lack of food">Died from lack of food</option>
                  <option value="Died from lack of medicine">Died from lack of medicine</option>
                  <option value="Killed by Ethiopian forces">Killed by Ethiopian forces</option>
                  <option value="Killed by Eritrean forces">Killed by Eritrean forces</option>
                  <option value="Killed by Ethiopian and Eritrean forces">Killed by Ethiopian and Eritrean forces</option>
                  <option value="Killed by Amhara militia and Fano">Killed by Amhara militia and Fano</option>
                </select>
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                <span id="woreda">Woreda</span>: <span class="required" style="color: #dc3545;">*</span>
                <select class="selectpicker form-control" data-live-search="true" name="woreda" required>
                  <option selected="" disabled=""></option>
                  {% for woreda_name in woreda_list %}
                    <option value="{{ woreda_name }}">{{ woreda_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Source <span class="required" style="color: #dc3545;">*</span> 
                <input type="text" class="form-control" name="source" required>
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Source Link <span class="required" style="color: #dc3545;">*</span> 
                <input type="text" class="form-control" name="source_link" required>
              </div>

              <div class="col-md-6 col-sm-12  form-group">
                Remark: (<i>optional</i>)
                <textarea class="form-control" name="remark" rows="3"></textarea>
              </div>

              <div class="form-group">
                <div class="col-md-11 col-sm-9  offset-md-5"><br>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
                </div>

              </form>

            </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% else %}
<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
    </div>
    <div class="clearfix"></div>

    <div class="row">
        <h1 class="error-number">403</h1>
        <h2>Sorry, You don't have administrative privileges to access this page</h2>
      </div>
      </div>
      </div>
{% endif %}
<!-- /page content -->
{% endblock %}

{% block admin_page_scripts %}
{% if request.user.is_superuser == True %}
<script>
$(document).ready(function() {
  $('#myForm').submit(function(event) {
    event.preventDefault();
    AdminUI.showLoading();

    var form = this;

    $.ajax({
      url: "{% url 'add-unverified-civilian' %}",
      type: 'POST',
      data: new FormData(form),
      async: true,
      cache: false,
      contentType: false,
      processData: false,
      success: function(response) {
        AdminUI.success(response.success_message || 'The unidentified civilian data was saved successfully.');

        form.reset();
        $('.selectpicker').val(null).trigger('change');
      },
      error: function(xhr) {
        AdminUI.error(
          AdminUI.errorMessage(xhr.responseJSON, 'Unable to save the unidentified civilian data.'),
          { duration: 6500 }
        );
      },
      complete: function() {
        AdminUI.hideLoading();
      }
    });

    return false;
  });
});
</script>
{% endif %}
{% endblock admin_page_scripts %}
