{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tigray Genocide</title>
    <link href="{% static 'admin_static/css/admin-login.css' %}" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <h1>Tigray Genocide</h1>

                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success" role="alert">
                        <span class="login-alert-icon" aria-hidden="true">&#10003;</span> {{ message }}
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        <span class="login-alert-icon" aria-hidden="true">!</span> {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}

                    <form action="" method="POST">
                        {% csrf_token %}
                        <div>
                            <input type="text" id="login_username" name="login_username" class="form-control"
                                placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" id="login_password" name="login_password" class="form-control"
                                placeholder="Password" required="" />
                        </div>

                        {{ captcha_form.as_p }}

                        <div>
                            <button class="btn btn-dark btn-block btn-outline" type="submit">Login</button>
                            <a class="reset_pass" href="{% url 'reset_password' %}">Lost your password?</a>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                    <div class="separator">

                        <div class="clearfix"></div>
                        <br />

                        <div>
                            &copy; <span id="copyright_year"></span> Tigray Genocide
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

    <script>
        const currentYear = new Date().getFullYear();
        document.getElementById('copyright_year').innerHTML = currentYear;
    </script>
</body>

</html>
